<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">My Tickets</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
    <a href="/ticket">Open Tickets</a> |
    <a href="/ticket/add">Add Ticket</a> |
    <a href="/ticket/remove">Close Ticket</a> |
    <a href="/category">List Categories</a> |
    <a href="/category/add">Add Category</a> |
    <a href="/user/signup">Sign Up</a> |
    <a href="/user/signin">Sign In</a> |
    <a href="/user/signout">Sign Out</a> |
</nav>

</body>
</html>