<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post">

    <div th:each="ticket : ${tickets}" class="checkbox">
        <input type="checkbox" name="ticketIds" th:value="${ticket.id}" th:id="${ticket.id}"/>
        <label th:for="${ticket.id}" th:text="${ticket.name}"></label>
        <br />
    </div>

    <input type="submit" value="Close Ticket" />
</form>

</body>
</html>